<h1>Answer</h1>

<form>
  <div class="form-group">
    <label for="answer_body">Enter Answer Below</label>
    {{input id="answer_body" class="form-control" value=answer_body}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>

</form>
